#!/usr/bin/env sh
#: Themed launcher

# Scheme name: {{system}} / {{name}}
# Scheme author: {{author}}

bemenu-run --bottom --prompt '' \
           --tb '#{{palette.base00}}' \
           --tf '#{{palette.base05}}' \
           --nb '#{{palette.base00}}' \
           --nf '#{{palette.base05}}' \
           --hb '#{{palette.base0D}}' \
           --hf '#{{palette.base00}}' \
           --ff '#{{palette.base0A}}'
