#!/usr/bin/env sh
#: Themed launcher

bemenu-run --bottom --prompt '' \
           --tb '#{{base00}}' \
           --tf '#{{base05}}' \
           --nb '#{{base00}}' \
           --nf '#{{base05}}' \
           --hb '#{{base0D}}' \
           --hf '#{{base00}}' \
           --ff '#{{base0A}}'
